/* 样式重置 */
body,
div,
h1,
h2,
h3,
h4,
h5,
p,
form,
ul,
li,
dl,
dt,
dd,
span,
a,
img,
em,
i,
strong,
b,
input,
select,
textarea {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
img {
  border: 0 none;
  vertical-align: top;
}
textarea,
input {
  outline: none;
}
textarea {
  resize: none;
}
em,
i {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #969696;
}
body {
  font-family: '微软雅黑';
  font-size: 14px;
  color: #000;
  background: #fff;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* 宽高 */
/* 背景图片 */
/* 边框 */
.header_logo {
  float: left;
  width: 266px;
  height: 99px;
  margin-right: 43px;
}
.header_logo {
  background: url("../images/logo.jpg") no-repeat 0 0;
  background-size: 100% 100%;
}
.header_logo a {
  text-indent: -99em;
  overflow: hidden;
}
.header_logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.login_header {
  float: right;
}
.loginMain {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}
.loginBox {
  width: 618px;
  height: 390px;
  padding-top: 50px;
}
.login_h2 {
  width: 270px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
.login {
  width: 100%;
  height: 250px;
  background: #fff;
}
.login_box {
  float: left;
  width: 559px;
  height: 94px;
  border: #c9c9c9 1px solid;
  margin: 18px 0px 0px 28px;
  display: inline;
}
.login_box dt {
  float: left;
  width: 81px;
  height: 94px;
  border-right: #c7c7c7 1px solid;
  background: #f3f3f3;
}
.login_box dt em {
  margin: 25px 0px 0px 20px;
}
.login_box dd {
  float: left;
  position: relative;
  width: 470px;
  height: 94px;
}
.login_box dd span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 317px;
  height: 94px;
  padding-left: 18px;
  line-height: 94px;
  z-index: 99;
  color: #c2c2c2;
  font-size: 14px;
}
.login_wrong {
  position: absolute;
  width: 140px;
  height: 32px;
  line-height: 32px;
  top: 28px;
  right: 0px;
  z-index: 2;
  padding-left: 34px;
}
.login_wrong {
  background: url(../images/login_btn.png) no-repeat -385px -430px;
  color: #ffac3a;
  font-size: 14px;
}
.login_box_input {
  float: left;
  width: 310px;
  height: 22px;
  line-height: 22px;
  padding: 36px 7px 36px 18px;
  color: #c2c2c2;
  font-size: 14px;
  background: none;
  border: 0 none;
}
.login_user,
.login_password {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -99em;
  overflow: hidden;
}
.login_user {
  background: url(../images/login_btn.png) no-repeat -14px -80px;
}
.login_password {
  background: url(../images/login_btn.png) no-repeat -86px -82px;
}
.login_btn {
  float: left;
  width: 135px;
  height: 53px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 55px;
  border: 0 none;
  background: url(../images/login_btn.png) no-repeat -290px -69px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.login_btn:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.login_aa {
  width: 616px;
  height: 20px;
  border-top: 4px solid #ebebeb;
  text-align: center;
  line-height: 20px;
  color: #8c8b8b;
  font-size: 12px;
}
.login_aa a {
  margin: 0 12px;
}
