<div class="company-box list-box">
	<div class="listMain lay">
		<div class="main-title">
			公司公告
			<i></i>
		</div>
		<div class="textListMain clearfix">
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">2017端午节假日放假通知</span>
						<i></i>
						<span class="textList-time">5月11日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">亲爱滴全速小伙伴，端午节放假通知出来啦，放假时间为5月28日至5月30日共3天，5月31日（周三）正常上班，请各部门提前安排好工作，放假前关闭包干区域的电器设备，做好安全措施。大家放假期间外出游玩注意安全，最后祝大家节日快乐！
							</p>
							<div class="table" id="J_table"></div>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">2017端午节假日放假通知</span>
						<i></i>
						<span class="textList-time">5月11日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">亲爱滴全速小伙伴，端午节放假通知出来啦，放假时间为5月28日至5月30日共3天，5月31日（周三）正常上班，请各部门提前安排好工作，放假前关闭包干区域的电器设备，做好安全措施。大家放假期间外出游玩注意安全，最后祝大家节日快乐！
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">2017端午节假日放假通知</span>
						<i></i>
						<span class="textList-time">5月11日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">亲爱滴全速小伙伴，端午节放假通知出来啦，放假时间为5月28日至5月30日共3天，5月31日（周三）正常上班，请各部门提前安排好工作，放假前关闭包干区域的电器设备，做好安全措施。大家放假期间外出游玩注意安全，最后祝大家节日快乐！
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">2017端午节假日放假通知</span>
						<i></i>
						<span class="textList-time">5月11日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">亲爱滴全速小伙伴，端午节放假通知出来啦，放假时间为5月28日至5月30日共3天，5月31日（周三）正常上班，请各部门提前安排好工作，放假前关闭包干区域的电器设备，做好安全措施。大家放假期间外出游玩注意安全，最后祝大家节日快乐！
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">2017端午节假日放假通知</span>
						<i></i>
						<span class="textList-time">5月11日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">亲爱滴全速小伙伴，端午节放假通知出来啦，放假时间为5月28日至5月30日共3天，5月31日（周三）正常上班，请各部门提前安排好工作，放假前关闭包干区域的电器设备，做好安全措施。大家放假期间外出游玩注意安全，最后祝大家节日快乐！
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
		</div>
			
		
		<div class="paging">
			<div class="tcdPageCode"></div>
		</div>
	</div>
</div>
