<div class="index-box">
	<div class="index-box-Banner" bgName>
		<div class="indexBanner lay">
			<div class="indexBanner_user">
				<img class="indexBanner_user_img" src="" />
				<div class="indexBanner_user_info">
					<span id="user_nickname"></span>
					<i></i>
				</div>
				<span class="indexBanner_user_sign"></span>
			</div>
			<div class="indexBanner_wallBtn clearfix">
				<div class="wallBox_btn">背景</div>
				<div class="wallBtn wallBtn_left">左</div>
				<div class="wallBtn wallBtn_right">右</div>
				
				<div class="wallBox" style="display: none;">
					<div class="wallBox_top">
						<span>请点击选择要使用的背景效果</span>
						<i class="wallBox_top_xx">Ｘ</i>
					</div>
					<ul class="wallBox_ul">
						<li>
							<img src="images/index_img01.jpg" name="index_img01" bgName="index01" />
							<span>星际穿越</span>
						</li>
						<li>
							<img src="images/index_img02.jpg" name="index_img02" bgName="index02" />
							<span>名山大川</span>
						</li>
						<li>
							<img src="images/index_img03.jpg" name="index_img03" bgName="index03" />
							<span>名车</span>
						</li>
						<li>
							<img src="images/index_img04.jpg" name="index_img04" bgName="index04" />
							<span>虫群之心</span>
						</li>
						<li>
							<img src="images/index_img05.jpg" name="index_img05" bgName="index05" />
							<span>喵高临下</span>
						</li>
						<li>
							<img src="images/index_img06.jpg" name="index_img06" bgName="index06" />
							<span>傲视</span>
						</li>
						<li class="wallBgSet">
							<img src="images/index_img07.jpg" name="index_img07" bgName="index07" />
							<span>天生萌物</span>
						</li>
						<li>
							<img src="images/index_img08.jpg" name="index_img08" bgName="index08" />
							<span>心动</span>
						</li>
						<li>
							<img src="images/index_img09.jpg" name="index_img09" bgName="index09" />
							<span>地质行星</span>
						</li>
						<li>
							<img src="images/index_img10.jpg" name="index_img10" bgName="index10" />
							<span>灯光</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="index-box-main">
		<div class="indexBoxMain_menu lay">
			<a class="indexBoxMain_aList" href="##" target="_blank">
				<dl class="indexBoxMain_dl">
					<dt></dt>
					<dd class="indexBoxMain_ddCh">加班</dd>
					<dd class="indexBoxMain_ddEn">WORK OVERTIME</dd>
				</dl>
			</a>
			<a class="indexBoxMain_aList" href="##" target="_blank">
				<dl class="indexBoxMain_dl">
					<dt></dt>
					<dd class="indexBoxMain_ddCh">调休</dd>
					<dd class="indexBoxMain_ddEn">TAKE WORKING DAYS OFF</dd>
				</dl>
			</a>
			<a class="indexBoxMain_aList" href="##" target="_blank">
				<dl class="indexBoxMain_dl">
					<dt></dt>
					<dd class="indexBoxMain_ddCh">请假</dd>
					<dd class="indexBoxMain_ddEn">LEAVE</dd>
				</dl>
			</a>
			<a class="indexBoxMain_aList" href="##" target="_blank">
				<dl class="indexBoxMain_dl">
					<dt></dt>
					<dd class="indexBoxMain_ddCh">报销</dd>
					<dd class="indexBoxMain_ddEn">REIMBURSEMENT</dd>
				</dl>
			</a>
			<a class="indexBoxMain_aList" href="##" target="_blank">
				<dl class="indexBoxMain_dl">
					<dt></dt>
					<dd class="indexBoxMain_ddCh">通讯录</dd>
					<dd class="indexBoxMain_ddEn">MAIL LIST</dd>
				</dl>
			</a>
		</div>
		<div class="indexBoxMain_fun lay">
			<div class="indexBoxMain_user_Info">
				<span></span>
				<i></i>
			</div>
			<div class="indexBoxMain_welcome">今天是您进入全速网络的第<i>1109</i>天，感谢你所做的一切。全速因你而精彩！</div>
			<div class="indexBoxMain_holiday clearfix">
				<div class="ibm_holidayList">
					<div class="ibm_holidayList_circle circle1">
						<span>加班</span>
						<span>900</span>
						<span>小时</span>
					</div>
					<div class="ibm_holidayList_remark">下班后奋斗了900个小时</div>
					<a class="ibm_holidayList_btn" href="##">申请加班<i>+</i></a>
				</div>
				<div class="ibm_holidayList">
					<div class="ibm_holidayList_circle circle2">
						<span>调休</span>
						<span>600</span>
						<span>小时</span>
					</div>
					<div class="ibm_holidayList_remark">已调休200小时，还剩600小时</div>
					<a class="ibm_holidayList_btn" href="##">申请调休<i>+</i></a>
				</div>
				<div class="ibm_holidayList">
					<div class="ibm_holidayList_circle circle3">
						<span>年假</span>
						<span>5</span>
						<span>天</span>
					</div>
					<div class="ibm_holidayList_remark">本年内年假还有5天</div>
					<a class="ibm_holidayList_btn" href="##">申请年假<i>+</i></a>
				</div>
			</div>
			<div class="indexBoxMain_birthday">
				<div class="ibm_birthday_title clearfix">
					<h4 class="ibm_birthdayTit">生日送祝福</h4>
					<a class="ibm_birthday_more" href="#birthday">查看更多</a>
				</div>
				<ul class="ibm_birthdayUl" id="ibm_birthdayUl">
					
				</ul>
			</div>
		</div>
		<div class="lay clearfix">
			<dl class="indexBoxMain_column comNotice" id="comNotice">
				<dt>
					<span>公司公告<i>Company announcement</i></span>
				</dt>
				
				
				<dd class="clearfix"><a class="cnoticeMore" href="#company_an">更多</a></dd>
			</dl>
			<dl class="indexBoxMain_column rules" id="rules">
				<dt>
					<span>规章制度<i>Rules and regulations</i></span>
				</dt>
				
				
				<dd class="clearfix"><a class="cnoticeMore" href="#rules">更多</a></dd>
			</dl>
		</div>
			
	</div>
</div>