<div class="my_inform-box list-box">
	<div class="listMain lay">
		<div class="main-title">
			个人资料
			<i></i>
		</div>
		
		<form class="my_inform_form" method="post" action="index.html">
			<div class="my_inform clearfix">
				<div class="myInform_left">
					<div class="myInform_list01">
						<span>当前头像:</span>
						<img id="photo" src="images/123photo.jpg" alt="123photo" />
					</div>
					<div class="myInform_list">
						<span>姓　　名:</span>
						<input type="text" value="" />
					</div>
					<div class="myInform_list">
						<span>身&nbsp;&nbsp;份&nbsp;&nbsp;证:</span>
						<input type="text" value="" />
					</div>
					<div class="myInform_list">
						<span>姓　　别:</span>
						<span id="realSex" class="myInformList_spanT">女</span>
					</div>
					<div class="myInform_list">
						<span>籍　　贯:</span>
						<span id="jiguan" class="myInformList_spanT">上海</span>
					</div>
					<div class="myInform_list">
						<span>生　　日:</span>
						<span id="realBirth" class="myInformList_spanT">1989年2月28日</span>
					</div>
					<div class="myInform_list">
						<span>居&nbsp;&nbsp;住&nbsp;&nbsp;地:</span>
						<span id="juzhudi" class="myInformList_spanT">嘉诺撒圣心商学书院</span>
					</div>
					<div class="myInform_list">
						<span>家　　乡:</span>
						<span id="hometown" class="myInformList_spanT">上海市</span>
					</div>
					<div class="myInform_list">
						<span>爱　　好:</span>
						<input type="text" value="" />
					</div>
				</div>
				<div class="myInform_right">
					<div class="myInform_list">
						<span>微　　信:</span>
						<input type="text" value="" />
					</div>
					<div class="myInform_list">
						<span>支&nbsp;&nbsp;付&nbsp;&nbsp;宝:</span>
						<input type="text" value="" />
					</div>
					<div class="myInform_list">
						<span>旺　　旺:</span>
						<input type="text" value="" />
					</div>
					<div class="myInform_list">
						<span>Ｑ　　Ｑ:</span>
						<input type="text" value="" />
					</div>
					<div class="myInform_list">
						<span>邮　　箱:</span>
						<input type="text" value="" />
					</div>
					<div class="myInform_list">
						<span>分　　机:</span>
						<input type="text" value="" />
					</div>
					<div class="myInform_list">
						<span>职　　务:</span>
						<select name="zhiwu" id="zhiwu">
							<option value="请选择">请选择</option>
						</select>
					</div>
					<div class="myInform_list">
						<span>部　　门:</span>
						<select name="bumen" id="bumen">
							<option value="请选择">请选择</option>
						</select>
					</div>
					<div class="myInform_list">
						<span>入职时间:</span>
						<select name="add_sel1" id="add_sel1" class="sel1">
							<option value="year"></option>
						</select>
						年
						<select name="add_sel2" id="add_sel2" class="sel2">
							<option value="month"></option>
						</select>
						月
						<select name="add_sel3" id="add_sel3" class="sel3">
							<option value="day"></option>
						</select>
						日
					</div>
					<div class="myInform_list">
						<span>转正时间:</span>
						<select name="zhuan_sel1" id="zhuan_sel1" class="sel1">
							<option value="year"></option>
						</select>
						年
						<select name="zhuan_sel2" id="zhuan_sel2" class="sel2">
							<option value="month"></option>
						</select>
						月
						<select name="zhuan_sel3" id="zhuan_sel3" class="sel3">
							<option value="day"></option>
						</select>
						日
					</div>
				</div>
				<input class="sub" type="submit" value="保存" />
			</div>
		</form>
		
	</div>
</div>
