<div class="notice-box list-box">
	<div class="listMain lay">
		<div class="main-title">
			消息中心
			<i></i>
		</div>
		<div class="textListMain clearfix">
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">系统通知</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">更快发现有用信息，全速“发现”发布啦！亲爱的全速用户们：为了让大家更好地发现全速中地好内容，我们推出了“发现”页面。快快来关注哦！更有惊喜等着大家！更快发现有用信息，全速“发现”发布啦！亲爱的全速用户们：为了让大家更好地发现全速中地好内容，我们推出了“发现”页面。快快来关注哦！更有惊喜等着大家！更快发现有用信息，全速“发现”发布啦！亲爱的全速用户们：为了让大家更好地发现全速中地好内容，我们推出了“发现”页面。快快来关注哦！更有惊喜等着大家！更快发现有用信息，全速“发现”发布啦！亲爱的全速用户们：为了让大家更好地发现全速中地好内容，我们推出了“发现”页面。快快来关注哦！更有惊喜等着大家！
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">系统通知</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">更快发现有用信息，全速“发现”发布啦！亲爱的全速用户们：为了让大家更好地发现全速中地好内容，我们推出了“发现”页面。快快来关注哦！更有惊喜等着大家！
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">系统通知</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">更快发现有用信息，全速“发现”发布啦！亲爱的全速用户们：为了让大家更好地发现全速中地好内容，我们推出了“发现”页面。快快来关注哦！更有惊喜等着大家！
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">系统通知</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">更快发现有用信息，全速“发现”发布啦！亲爱的全速用户们：为了让大家更好地发现全速中地好内容，我们推出了“发现”页面。快快来关注哦！更有惊喜等着大家！
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">系统通知</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">更快发现有用信息，全速“发现”发布啦！亲爱的全速用户们：为了让大家更好地发现全速中地好内容，我们推出了“发现”页面。快快来关注哦！更有惊喜等着大家！
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
		</div>
			
		
		<div class="paging">
			<div class="tcdPageCode"></div>
		</div>
	</div>
</div>