<div class="rules-box list-box">
	<div class="listMain lay">
		<div class="main-title">
			规章制度
			<i></i>
		</div>
		<div class="textListMain clearfix">
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">人才推荐计划-给你做伯乐的机会</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">随着公司规模的扩大，希望有越来越多的优秀人才加入，以满足业务发展的需要。为进一步拓宽招聘渠道，充分调动公司内部资源，提高人才招聘的针对性和有效性，公司决定正式推行《人才推荐计划》，并将此作为长期坚持的人才引进策略。为激发公司员工推荐外部优秀专业人才的积极性，特制定本奖励制度。
							</p>
							<p>随着公司规模的扩大，希望有越来越多的优秀人才加入，以满足业务发展的需要。为进一步拓宽招聘渠道，充分调动公司内部资源，提高人才招聘的针对性和有效性，公司决定正式推行《人才推荐计划》，并将此作为长期坚持的人才引进策略。为激发公司员工推荐外部优秀专业人才的积极性，特制定本奖励制度。
							</p>
							<div class="table" id="J_table"></div>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">人才推荐计划-给你做伯乐的机会</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">随着公司规模的扩大，希望有越来越多的优秀人才加入，以满足业务发展的需要。为进一步拓宽招聘渠道，充分调动公司内部资源，提高人才招聘的针对性和有效性，公司决定正式推行《人才推荐计划》，并将此作为长期坚持的人才引进策略。为激发公司员工推荐外部优秀专业人才的积极性，特制定本奖励制度。
							</p>
							<p>随着公司规模的扩大，希望有越来越多的优秀人才加入，以满足业务发展的需要。为进一步拓宽招聘渠道，充分调动公司内部资源，提高人才招聘的针对性和有效性，公司决定正式推行《人才推荐计划》，并将此作为长期坚持的人才引进策略。为激发公司员工推荐外部优秀专业人才的积极性，特制定本奖励制度。
							</p>
							<p>随着公司规模的扩大，希望有越来越多的优秀人才加入，以满足业务发展的需要。为进一步拓宽招聘渠道，充分调动公司内部资源，提高人才招聘的针对性和有效性，公司决定正式推行《人才推荐计划》，并将此作为长期坚持的人才引进策略。为激发公司员工推荐外部优秀专业人才的积极性，特制定本奖励制度。
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">人才推荐计划-给你做伯乐的机会</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">随着公司规模的扩大，希望有越来越多的优秀人才加入，以满足业务发展的需要。为进一步拓宽招聘渠道，充分调动公司内部资源，提高人才招聘的针对性和有效性，公司决定正式推行《人才推荐计划》，并将此作为长期坚持的人才引进策略。为激发公司员工推荐外部优秀专业人才的积极性，特制定本奖励制度。
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">人才推荐计划-给你做伯乐的机会</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">随着公司规模的扩大，希望有越来越多的优秀人才加入，以满足业务发展的需要。为进一步拓宽招聘渠道，充分调动公司内部资源，提高人才招聘的针对性和有效性，公司决定正式推行《人才推荐计划》，并将此作为长期坚持的人才引进策略。为激发公司员工推荐外部优秀专业人才的积极性，特制定本奖励制度。
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
			<div class="textList clearfix">
				<div class="textList-img"></div>
				<div class="textList-text">
					<div class="textList-top clearfix">
						<span class="textList-title">人才推荐计划-给你做伯乐的机会</span>
						<i></i>
						<span class="textList-time">9月29日 18:00</span>
					</div>
					<div class="textList-main">
						<div class="textListBox">
							<p class="hidden">随着公司规模的扩大，希望有越来越多的优秀人才加入，以满足业务发展的需要。为进一步拓宽招聘渠道，充分调动公司内部资源，提高人才招聘的针对性和有效性，公司决定正式推行《人才推荐计划》，并将此作为长期坚持的人才引进策略。为激发公司员工推荐外部优秀专业人才的积极性，特制定本奖励制度。
							</p>
						</div>
						<a class="allBtn" href="javascript:void(0);">
							<h6>显示全部</h6>
							<i></i>
						</a>
						<a class="oneBtn" href="javascript:void(0)" style="display: none;">
							<i></i>
							<h6>收起</h6>
						</a>
					</div>
				</div>
			</div>
		</div>
			
		
		<div class="paging">
			<div class="tcdPageCode"></div>
		</div>
	</div>
</div>
